@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poetsen+One&display=swap');

:root {
    --main_color: rgb(210, 47, 216);
    --sec_header: rgb(202, 213, 99);
    --text_white: white;
    --text_black: black;
    --transparancy_black: rgba(0, 0, 0, 0.648);
    --main-font: Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--text_white);
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

.wrapper {
    background: url(../img/background.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    position: fixed;
    z-index: 999999999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: var(--transparancy_black);
}

.logo {
    display: flex;
}

.logo img {
    width: 80px;
    margin-left: 20px;
}

.nav-right {
    display: flex;
    gap: 20px;
}

.nav-right a {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid var(--text_white);
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.nav-right a:last-child {
    margin-right: 20px;
}

.nav-right a:hover {
    border-color: var(--main_color);
}

.menubtn {
    display: none;
    margin-right: 20px;
    cursor: pointer;
}

.menubtn img {
    width: 30px;
}

.bottom {
    position: relative;
}

.hero1 {
    background: url(../img/main-page-cake-light.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: -20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-sec-left img {
    width: 45vw;
}

.hero-sec-right {
    margin-right: 5%;
    width: 80%;
}

.hero-sec-right h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 70px;
}

.first-header {
    text-align: center;
    font-size: 4em;
    color: var(--sec_header);
}

.second-header {
    text-align: end;
    width: 70%;
    font-size: 3em;
    color: var(--sec_header);
}

.third-header {
    font-size: 6em;
    display: flex;
    justify-content: center;
    color: var(--main_color);
}

.third-header span {
    font-size: 25px;
}

.first-para {
    font-family: "Caveat", cursive;
    font-size: 50px;
}

.second-para {
    text-align: right;
    font-family: "Caveat", cursive;
    font-size: 40px;
    margin-bottom: 10px;

}

.footer {
    height: 20vh;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--transparancy_black);
}

.title {
    position: sticky;
    z-index: 9999;
    height: 10vh;
    width: 100%;
    background: var(--text_white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: var(--text_black);
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}


.hero img {
    height: 85vh;
    width: 45vw;
}




.back_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.border_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 80%;
    width: 40%;
    border: 1px solid var(--text_white);
    background: var(--transparancy_black);
    padding-bottom: 40px;
}

.con_heading h2 {
    font-weight: 600;
}

.con_subheading {
    font-size: 16px;
    font-weight: 600;
}

.social_icon {
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin-top: 10px;
}

.social_icon img {
    width: 50px;
    height: 50px;
}

.about_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    height: 90vh;
}

.left_textbox {
    display: flex;
    height: 80vh;
    width: 55%;
    justify-content: center;
    align-items: baseline;
}

.right_imgbox {

    height: 80%;
    width: 35%;
    display: flex;
    justify-content: right;

}

.right_imgbox img {
    height: 90%;
    border: 1px solid var(--text_white);
}

.about-borderbox {
    flex-direction: column;
    display: flex;
    background: var(--transparancy_black);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: baseline;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.redbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: red;
    width: 60%;
    height: 10%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sign {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
    align-items: center;
    background: url(../img/sign.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0 25px;
}

.sign h1 {
    font-weight: 900;
}

.redbox p {
    font-weight: 900;
    font-size: large;
}

@media(max-width:900px) {
    .wrapper {
        height: auto;
    }

    .navbar {
        height: auto;
    }

    .nav-right {
        display: none;
        flex-direction: column;
        margin: 20px 0;
    }

    .menubtn {
        display: flex;
    }

    .nav-right a:last-child {
        margin-right: 0;
    }

    .hero1 {
        background-position: center;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .hero-sec-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-sec-left img {
        width: 300px;
        height: 400px;
        margin-bottom: -60px;
    }

    .hero-sec-right {
        margin-right: 0;
        width: 97%;
    }

    .hero-sec-right h1 {
        line-height: 40px;
    }

    .first-header {
        font-size: 3em;
    }

    .second-header {
        font-size: 2em;
        text-align: center;
        margin-left: 25%;
    }

    .third-header {
        font-size: 3.5em;
        margin-bottom: 20px;
    }

    .first-para {
        font-size: 30px;
        text-align: center;
        margin-right: 20%;
    }

    .second-para {
        font-size: 20px;
        text-align: center;
        margin-left: 40%;
    }

    .footer {
        height: auto;
        font-size: small;
        padding: 10px 2px;
    }

    .scroll-img {
        height: 70vh;
    }

    .back-cake {
        height: 75vh;
    }


    .middle-cake {
        height: 45vh;
    }

    .border_box {
        width: 90%;
        height: 90%;
    }

    .social_icon {
        width: 60%;
        justify-content: space-between;
    }

    .left_textbox {
        display: flex;
        height: 80vh;
        width: 55%;
        justify-content: center;
        align-items: baseline;
    }

    .right_imgbox {
        height: 80%;
        width: 35%;
        display: flex;
        justify-content: right;

    }

    .about_box {
        flex-direction: column;
        gap: 0;
        height: auto;
    }

    .left_textbox {
        display: flex;
        height: auto;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .right_imgbox {
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        z-index: 9999999;
    }

    .right_imgbox img {
        width: auto;
        height: 60vh;
    }

    .ownerback {
        width: 100%;
        height: 100vh;
        background: url(../img/owner.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        z-index: 99999;

    }

    .sign {
        background: var(--transparancy_black);
        padding-bottom: 40px;
    }

    .redbox p {
        font-weight: 900;
        font-size: medium;
    }

    .hero img {
        margin-top: 0;
        width: 100vw;
        height: 70vh;
    }
}